.link {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10rem;
        font-weight: bold;
        font-size: 2rem;
}
.nav {
    background-color: rgb(204, 196, 255);
        height: 4rem;
}
    