.mainVoterForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btnVoterForm {
    background-color: rgb(221, 221, 221);
    font-size: 1rem;
    margin-left: 2rem;
    width: max-content;
}

label {
    margin-left: 2rem;
}

input {
    margin-left: 2rem;
}